*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

figure {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

blockquote {
    margin: 0;
}

address {
    font-style: normal;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0;
    border: 0 none transparent;
}

/* /. null-styles */

:root {
    --yellow-color: #ffd748;
    --white-color: #fff;
    --dark-color: #423f45;
    --blue-color: #104987;
    --green-color: #38df7a;
    --violet-color: #5f40a1;
}

/* /. roots */

html {
    font-size: 14px;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--dark-color);
    font-size: 14px;
    font-family: Calibri, sans-serif;
}

/* /. general-styles */

#__next {
    height: 100%;
}
